body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f7f9;
  color: #333;
}

* {
  box-sizing: border-box;
}

div {
  display: block;
}

/* Container */
.container {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  padding: min(20px, 5%);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

/* Logo */
.logo {
  height: 80px;
  max-width:100%;
  margin: 0px auto;
}

/* Span */
.highlight {
  align-self: center;
  align-items: center;
  font-size: clamp(1.5rem, calc(1.5vw + 0.5rem), 3rem);
}

.slogan {
  align-self: center;
  align-items: center;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
}

/* Header */
header {
  display: block;
  justify-content: center;
  align-self: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

/* Contact Form */
.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(0, 173, 216);
  margin-bottom: 20px;
}

form label {
  margin-bottom: 5px;
  text-align: left;
  font-weight: bold;
}

form input,
form textarea {
  width: 100%;
  padding: min(10px, 6%);
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

form button {
  align-self: center;
  width: 200px;
  max-width: 100%;
  padding: min(12px, 8%);
  background-color: rgb(34, 200, 242);
  color: white;
  font-size: clamp(1rem, 2vw, 1.2rem);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: rgb(34, 200, 242);
}

/* Responsive Design */
@media screen and (max-width: 300px) {
  .container {
    margin: 40px 10px;
    padding: 5px;
  }

  .slogan {
    font-size: 1.2rem;
    max-width: 100%;
    padding: 0 10px;
  }

  form input {
    width: 100%;
    padding: 10px;
    margin-left: 0;
  }
  
  form textarea {
    width: 100%;
    padding: 10px;
    margin-left: 0;
  }

  form button {
    width: 100%;
    padding: 10px;
  }

  form label {
    width: 100%;
    margin-left: 0;
  }
}